.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 25px;
  border-radius: 10px;
}

.buttons{
  display: flex;
  gap: 5px;
}

.complete{
  background-color: rgb(75, 172, 75);
}

.remove{
  background-color: rgb(136, 18, 18);
}

@media (max-width: 450px){
  .todo{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .todo-content{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
